@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html {
  font-family: 'Source Sans Pro';
  height: 100%;
  width: fit-content;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  background: whitesmoke;
}

.salmon {
  max-width: 18%;
  max-height: 18%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 6rem;
  font-weight: bolder;
  color: rgb(236, 150, 141);
}

#back {
  padding-top: 10px;
  padding-left: 50px;
  font-size: medium;
}

.form {
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

#create-store {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: bolder;
}

#min-cust,
#max-cust,
#avg-cookies {
  width: 50px;
}

#submit {
  display: flex;
  justify-content: center;
  width: 120px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

table {
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(236, 150, 141);
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bolder;
  align-content: space-around;
  border: 1px solid rgb(236, 150, 141);
}

tr {
  padding-bottom: 10px;
  padding-right: 10px;
}

td {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border: 1px solid rgb(236, 150, 141);
}

footer {
  padding-top: 30px;
  height: 150px;
  width: 100%;
  background-color: whitesmoke;
  margin-top: 50px;
}

#copyright {
  font-size: small;
  padding-left: 15px;
  padding-top: 100px;
}

#contact {
  float: right;
  padding-right: 80px;
}

h3 {
  padding-bottom: 20px;
  font-weight: bolder;
  color: rgb(236, 150, 141);
}

li {
  padding-top: 5px;
}
