/* h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em;
  font-weight: bolder;
} */

img {
  max-width: 40%;
  max-height: 40%;
}

ul {
  grid-column-start: 1;
}

li {
  grid-column-start: 2;
  margin: 0;
}